#catkin_ws
catkin_ws/build/
catkin_ws/install/
catkin_ws/devel/
catkin_ws/.catkin_workspace


*.ipynb_checkpoints/
*~
*.pth
*.bag
*.pcd
*.png
*.pyc
*.swp
*.swo
*.log
*.xls
*.caffemodel
*.vscode
*.pyc
MOOSLog*/
LOG*/
.LastOpenedMOOSLogDirectory
*.moos++
*graph
*.pb
*.meta
*.index
train-*
*.gv
*.svg

# catkin files
CATKIN_IGNORE
