<launch>
	<arg name="pkg_name" value="ndsr"/>
	<arg name="veh" default="jetson-car" doc="Name of vehicle. ex: megaman"/>
	<arg name="config" default="baseline" doc="Specify a config."/>

	<include file="$(find pozyx)/launch/pozyx_tag_node.launch"/>
	<include file="$(find joystick)/launch/joystick.launch" />
</launch>